# Framework principal
streamlit>=1.32.0
pandas>=2.0.0
numpy
matplotlib
scikit-learn
python-dotenv

# Para o agente LLM de Notas Fiscais
llama-index>=0.10.36
llama-index-llms-groq
llama-index-experimental

